.search-form {
    padding: 20px
}
.fixed-width {
    width: 300px
}
.mr-50 {
    margin-right: 50px;
}

/* Small mobile size viewport */
@media only screen and (max-width: 600px) {
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .flight-form-field {
        width: 100%;
    }
    .flight-form-field-50 {
        width: 48%
    }
    .search-button {
        width: 100%;
    }
  }
